<footer class="mt-auto text-black">
    <p><%= botname %>.</p>
		<a></a> by
		<a href="https://github.com/Cyclops789" class="text-red">Cyclops</a>
		<a></a> -
		<a href="<%= statusurl %>" class="text-red">Status</a>
</footer>