    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title><%= botname %>-Bot</title>
		<link rel="icon" type="image/png" sizes="300x250" href="https://cdn.discordapp.com/attachments/810599615799754793/827707298452471848/b1b289d97af851fc8942bf5a458ecbe9.jpg">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="cover.css" rel="stylesheet">
		<link rel="stylesheet" href="styles/index.css">