<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="mb-auto">
<div>
    <h3 class="float-md-start mb-0" style="color: black" href="/" ><%= botname %></h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
		<a class="btn btn bg-dark" aria-current="page" href="/" style="color: white">Home</a>
		<a class="btn btn bg-dark" aria-current="page" href="/stats" style="color: white">Stats</a>
    <a class="btn btn bg-dark" href="/commands" style="color: white">Commands</a>
		<form action="/">
    <button class="btn btn-primary" type="sumbit" style="color: black" disabled>Login</button>
		</form>
    </nav>
</div>
</header>