<main class="px-3">
	<img src="<%= boticon %>" class="rounded mx-auto d-block" width="150" height="150" style="margin-top: 30px;">
    <p class="lead" style="color: black">Cool bot, a fan of gaara, and generally naruto, always accept ideas, and easy to use!</p>
    <p class="lead">
      <a href="<%= invite %>" class="btn btn-lg btn-black fw-bold border-black  bg-black btn-outline-dark" style="color: white">Add <%= botname %></a>
    
      <a href="<%= support %>" class="btn btn-lg btn-black fw-bold border-black  bg-black btn-outline-dark" style="color: white">Support Server</a>
    </p>
</main>