<!doctype html>
<html lang="en" class="h-100">
  <head>
	<%- include('partials/head') -%>
  </head>
  <body class="d-flex h-100 text-center text-white bg-light bg-gradient">
  <%- include('partials/header') -%>
	<%- include('partials/main') -%>
  <%- include('partials/footer') -%>
  </body>
</html>